@charset "utf-8";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #fff;
    color: #505050;
    font-weight: 500;
    font-style: normal;
}

main {
    flex: 1;
}

a {
    color: #505050;
    text-decoration: none;
    transition: color 0.3s ease;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media(min-width: 768px) {
    a[href^="tel:"] {
        pointer-events: none;
    }
}

.sp-br {
    display: none;
}

@media screen and (min-width: 768px) {
    .sp-br {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .sp-br {
        display: inline !important;
    }
}

.sp-br-374 {
    display: none;
}

@media screen and (max-width: 374px) {
    .sp-br-374 {
        display: inline !important;
    }
}


.inner {
    max-width: 920px;
    margin: 0 auto;
    padding-inline: 20px;

    @media screen and (max-width: 767px) {
        max-width: 100%;
        padding-inline: 20px;
    }
}

.section__title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (max-width: 767px) {
        margin-bottom: 42px;
    }
}

.section__img img {
    display: block;
    width: 26px;
    height: 25px;
}

.header {
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    @media screen and (max-width: 767px) {
        /* height: 30px; */

    }
}

/* ヘッダー内 */
.header__inner {
    max-width: 1080px;
    padding-inline: 99px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;

    @media screen and (max-width: 900px) {
        padding-inline: 30px;
    }
    @media screen and (max-width: 767px) {
        padding-inline: 20px;
    }

}

/* ロゴ */
.header__logo {
    font-weight: 700;
    line-height: calc(33 / 18);
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;

    @media screen and (max-width: 767px) {
        font-size: 2rem;
    }
}

.header__logo a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #666666;
    transition: opacity 0.4s;


}

.logo__text {
    display: inline-block;
    padding: 10px;
    color: #666666;
    transition: opacity 0.4s;

}

@media screen and (max-width: 767px) {}


.header__img {
    width: 25px;

    @media screen and (max-width: 767px) {}
}

.header__img img {
    aspect-ratio: 1;
}

.header__nav {
    height: 100%;

    @media screen and (max-width: 767px) {
        display: none;
    }

}

.header__nav-list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    /* align-items: center; */

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}


.header__nav-list li {
    height: 100%;
}

.header__nav-list a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity 0.4s;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1px;
    color: #666666;
    position: relative;
    z-index: 10;

    @media screen and (max-width: 767px) {
        position: absolute;
        width: 200px;
        height: 33px;
        left: 55px;
        top: 8px;
        font-size: 2rem;
        line-height: 33px;
    }
}


.header__nav-list a:hover,
.header__nav-list a:focus,
.header__logo a:hover,
.header__logo a:focus,
.header__logo a:hover .logo__text,
.header__logo a:focus .logo__text {
    opacity: 0.7;
}


.main {
    margin-top: 50px;
}

/* ファーストビュー */

.fv {
    position: relative;
}

.fv__img img {
    aspect-ratio: 1080 / 500;

    @media screen and (max-width: 767px) {
        aspect-ratio: 375 / 550;
    }
}

@media screen and (max-width: 767px) {}

.fv__text {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    padding: calc(29 / 1080*100vw) calc(37 / 1080*100vw) calc(21 / 1080*100vw) calc(99 / 1080*100vw);
    margin-block: calc(7 / 1080*100vw);
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
        position: absolute;
        top: initial;
        bottom: 0;
        /* right:  calc(64 / 375 * 100vw); */
        padding: calc(16 / 375 * 100vw) calc(23 / 375 * 100vw) calc(14 / 375 * 100vw) calc(20 / 375 * 100vw);
        width: calc(311 / 375 * 100vw);
        height: calc(148 / 375 * 100vw);
        transform: none;
        margin-top: 0;
    }
}

.fv__lead {
    font-weight: 700;
    line-height: 3rem;
    text-align: left;
    font-size: calc(25 / 1080 * 100vw);
    margin-bottom: 12px;

    @media screen and (max-width: 767px) {
        font-size: calc(20 / 375 *100vw);
        margin-bottom: calc(7 / 375 * 100vw);
    }
}

.fv__title {
    color: #0d96A0;
    font-weight: 700;
    line-height: normal;
    font-size: calc(40 / 1080*100vw);
    /* margin-top: calc(8 / 1080*100vw); */

    @media screen and (max-width: 767px) {
        font-size: calc(30 / 375*100vw);
        line-height: 1.4;
        margin-top: calc(7 / 375*100vw);
    }
}



/* 挨拶 --> */
.greeting {
    padding: 59px 0;
    text-align: center;
    background: #FFFFFF;

    @media screen and (max-width: 767px) {
        padding-bottom: 41px;
        text-align: center;
    }
}


.greeting__title {
    font-size: 3.0rem;
    color: #0d96A0;
    line-height: 5.0rem;
    font-weight: 700;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        /* padding-left: calc(67 / 375 * 100vw); */
        margin-top: calc(-10 / 375 * 100vw);
    }
}

.greeting__wrap {
    position: relative;
}

.greeting__text {
    font-size: 1.8rem;
    line-height: 3.3rem;
    text-align: center;
    align-items: center;
    color: #505050;
    margin-top: 15px;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        /* left: 20px; */
        margin-top: 16px;
        text-align: left;
        line-height: 3.0rem;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        text-align: left;
        margin-inline: auto;
        max-width: 75%;

    }
}

.greeting__icon {
    position: absolute;
    right: -22px;
    bottom: -24px;
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
        right: 10px;
        bottom: 8px;
    }
}

.paw-icon {
    width: 79px;
    height: auto;

    @media screen and (max-width: 767px) {
        width: 68px;
        height: 63px;
    }
}

/* 強み --> */
.strength {
    background-color: rgba(13, 150, 160, 0.10);
    padding: 68px 0;

    @media screen and (max-width: 767px) {
        padding: 50px 0 23px;
    }
}

.strength__items {
    margin-top: 45px;

    @media screen and (max-width: 767px) {}

}

.strength__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: calc(45 / 1080 * 100%);

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 40px;
        display: block;
    }
}

.strength__item:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.strength__item:not(:first-of-type) {
    margin-top: 50px;

}


.strength__img {
    width: 50%;
    flex-shrink: 0;
    /* margin-left: 7px; */

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.strength__img img {

    aspect-ratio: 440 / 247;

    @media screen and (max-width: 767px) {
        aspect-ratio: 335 / 200;
    }
}

.strength__body {
    /* max-width: 396px; */
    flex: 1;
}

.strength__subtitle {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
    margin-top: 2px;

    @media screen and (max-width: 767px) {
        font-size: 2.0rem;
        margin-top: 23px;
        text-align: center;
        line-height: calc(30 / 20);
    }
}

.strength__text {
    margin-top: 19px;
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    text-align: left;

    @media screen and (max-width: 767px) {
        line-height: calc(30 / 16);
        margin-bottom: 42px;
        font-size: 1.6rem;
    }
}

/* 強みstaff個別  */
.strength--staff .strength__text {
    margin-block: 19px 0;

    @media screen and (max-width: 767px) {
        margin-block: 7px 0;
    }
}

/*強み エキゾチック個別  */
.strength--exotic .strength__subtitle {
    margin: 4px 10px;

    @media screen and (max-width: 767px) {
        margin: 19px 7px;
    }
}

.strength--exotic .strength__text {
    margin: 16px 10px 0px 11px;

    @media screen and (max-width: 767px) {
        margin: -10px 0;
    }
}


/* 強み 往診向け */
.strength--visit .strength__subtitle {

    @media screen and (max-width: 767px) {
        margin-top: 29px;
    }
}

.strength--visit .strength__text {
    margin-top: 18px;

    @media screen and (max-width: 767px) {
        margin-top: 8px;

    }
}



/* サービス */
.service {
    background-color: #FFFFFF;
    padding-top: 63px;
    padding-bottom: 59px;


    @media screen and (max-width: 767px) {
        margin-top: -32px;
        padding-block: 74px;
    }

}

.service__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(40 / 1080 * 100vw);
    gap: calc(16 / 1080 * 100vw);
    height: 44px;
    /* position: relative; */

    @media screen and (max-width: 767px) {
        gap: calc(15/ 375 * 100vw);
        margin-top: -32px;
    }
}

.service__title {
    font-size: 2.5rem;
    font-weight: 700;
}

.service__icon {
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
        position: static;
        display: inline-block;
        vertical-align: middle;
    }
}

.service__img img {
    aspect-ratio: 260 / 200;

    @media screen and (max-width: 767px) {
        margin-top: calc(25 / 375 * 100vw);
        margin-bottom: calc(30 / 375 * 100vw);
        aspect-ratio: 335 / 200;
    }

}

.service__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6%;
    list-style: none;
    /* margin-bottom: 15px; */

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        gap: 4%;
    }
}

.service__subtitle {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: calc(30 / 20);
    text-align: center;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
        margin-top: 18px;
    }
}

.service__text {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: calc(30 / 17);

    /* 中間*/
    @media screen and (min-width: 768px) {
        line-height: calc(30 / 17);
        /* margin-bottom: calc(82 / 1080 * 100vw); */

    }

    /* スマホ */
    @media screen and (max-width: 767px) {
        line-height: calc(30 / 16);
        font-size: 1.6rem;
        margin-top: calc(7 / 375 * 100vw);
        /* margin-bottom: calc( / 375 * 100vw); */
    }
}

/* ペットホテル・トリミング個別 */

@media screen and (max-width: 767px) {

    .service__item--hotel .service__img,
    .service__item--trimming .service__img {
        margin-top: calc(-44 / 375 * 100vw);
    }
}

/* ペットホテル個別 */
.service__item--hotel .service__subtitle {

    @media screen and (max-width: 767px) {
        margin-bottom: calc(5 / 375 * 100vw);
    }
}


/* お知らせ */

.news {
    padding: 68px 46px 70px;
    background: rgba(13, 150, 160, 0.101961);

    @media screen and (max-width: 767px) {
        padding: 49px 0 52px;
    }

    @media screen and (min-width: 600px) and (max-width: 1023px) {
        padding-inline: 0;
    }
}


.news__head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 25px;
    margin-bottom: 52px;

    @media screen and (max-width: 767px) {
        margin-bottom: 50px;
    }
}

.news__icon {
    display: inline-flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        position: relative;
        right: -1px;
        bottom: -1px;
    }
}

.news__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.news__list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #707070;

    @media screen and (max-width: 767px) {}
}


.news__item {
    border-top: 1px solid #707070;

}

.news__item+.news__item {
    @media screen and (max-width: 767px) {
        margin-top: 1px;

    }
}

.news__link {
    display: flex;
    align-items: center;
    padding-block: 14px;
    /* gap: 24px; */
    flex-wrap: wrap;
    padding-inline: 18px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 9px;
        align-items: flex-start;
        padding: 10px 0px 26px 10px
    }
}

.news__date {
    flex: 0 0 auto;
    min-width: 92px;
    font-size: 1.7rem;
    font-weight: 700;
    flex-wrap: wrap;
    line-height: calc(25 / 17);

    @media screen and (max-width: 767px) {
        margin-top: 18px;
        display: block;
        margin-left: 0;
        width: 100%;
    }
}

.news__content {
    flex: 1;
    display: flex;
    align-items: center;
    /* gap: 25px; */
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
    }
}

.news__text {
    display: inline;
    font-size: 2.0rem;
    font-weight: 700;
    color: #0D96A0;
    margin-left: 25px;
    padding: 0;
    min-width: 160px;
    text-decoration: none;
    line-height: calc(25 / 20);

    @media screen and (max-width: 767px) {
        min-width: auto;
        /* width: 100%; */
        display: block;
        margin-left: 0;
        text-align: left;
        margin: -5px 0px 3px;

    }
}

.news__desc {
    display: inline;
    font-size: 1.7rem;
    color: #505050;
    line-height: calc(30 / 17);
    margin-left: 3em;
    flex: 1;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        display: block;
        margin-left: 0;
        flex-direction: column;
        width: 100%;
        line-height: 1.5;
    }
}

/* アクセス */
.access {
    background: #FFFFFF;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin-bottom: 69px; */
    padding-block: 68px 69px;

    @media screen and (max-width: 767px) {
        padding-block: 41px 21px;
    
    }
}


.access__inner {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    gap: 25px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        /* align-items: flex-start; */
        gap: 0;
    }

    /* @media screen and (min-width:768px) and (max-width: 1023px) {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-inline: 16px;
    } */
}

.access__head {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* height: 25px; */
    margin: 0 auto 49px;

    @media screen and (max-width: 767px) {
        /* height: auto; */
    }
}

.access__icon {
    display: inline-flex;
    align-items: center;
}

.access__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(30 / 25);
    text-align: center;

    @media screen and (max-width: 767px) {
        line-height: calc(36 / 25);
    }
}

.access__map {
    /* flex: 1; */
    /* min-width: 440px; */
    width: 50%;

    @media screen and (max-width: 767px) {
        width: 100%;
    }


}


.access__map iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 440 / 300;

    @media screen and (max-width: 767px) {
        aspect-ratio: 335 / 222;

    }
}

.access__content {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 50px; */
    text-align: left;
    flex: 1;
    margin-left: 21px;

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        margin-left: 0;
        /* padding-left: calc(20 / 375 * 100vw); */
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
    }

}

.access__name {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: calc(33 / 22);
    margin-bottom: 13px;

    @media screen and (max-width: 767px) {
        margin-top: calc(24 / 375 * 100vw);
        margin-bottom: calc(12 / 375 * 100vw);
        margin-left: 0;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        margin-top: 0;
    }
}

.access__address {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-bottom: 17px;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        margin: 0 0 calc(12 / 375 * 100vw) 0;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 1.6rem;
    }
}

.access__tel {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-bottom: 6px;

    @media screen and (max-width: 767px) {
        padding-left: 9px;
        margin: -7px;
        font-size: 1.6rem;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        padding-left: calc(5 / 600 * 100vw);
    }
}

.access__tel a {
    color: #0D96A0;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    
    @media screen and (max-width: 767px) {
        transition: opacity 0.4s;
    }
}

.access__tel a:hover{
    @media screen and (max-width: 767px) {
      opacity: 0.7;
    }
}

.access__email {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-bottom: 13px;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        
        margin-left: 0;
        margin-top: 14px;
        
        text-align: left;
    }
}

.access__email a {
    transition: opacity 0.4s;
    /* font-weight: 500;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-bottom: 13px;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        
        margin-left: 0;
        margin-top: 14px;
        
        text-align: left;
    } */
}
.access__email a:hover{
    opacity: 0.7;  
}

/* 診療時間 */
.access__open {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: calc(40 / 18);
    border-block-start: 1px solid #707070;
    margin: 14px 0 0 4px;
    padding: 15px 1px 0px 0px;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(40 / 16);
        padding-top: 6px;
        margin: 4px 0px 0px 1px;
    }
}

/* 休診日（下） */
.access__close {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    border-bottom: 1px solid #707070;
    padding: 7px 0 19px 3px;
    margin: 0;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(27 / 16);
        padding: 3px 0px 12px 4px;
        margin: -5px;
    }
}




/* お問い合わせ */
.contact {
    background: rgba(13, 150, 160, 0.101961);
    padding: 46px 0 41px;

    @media screen and (max-width: 767px) {
        padding-block: 34px 46px;
    }

    /* @media screen and (min-width: 768px) {
        padding-inline: 20px;
    } */
}

.contact__head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    @media screen and (max-width: 767px) {
        /* gap: 4px; */

    }
}


.contact__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(30 / 25);
    text-align: center;
    padding: 18px;

    @media screen and (max-width: 767px) {
      
    }
}

.contact__icon {
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
        margin-top: calc(13 / 375 * 100vw);

    }

}

.contact__icon img {
    width: 26px;
    height: 25px;

}

.contact__lead {
    text-align: center;
    font-size: 1.7rem;
    margin-block: calc(17 / 1080 * 100vw) calc(37 / 1080 * 100vw);
    line-height: 1.8;
    margin: 9px 0 0;


    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        margin-block: 28px 37px;
        text-align: left;
      
    }

    @media screen and (min-width: 600px) and (max-width: 1023px) {
        font-size: 1.6rem;
        max-width: 100%;

    }

}

.contact__form {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: calc(24 /1080 * 100vw);

    @media screen and (max-width: 767px) {
        margin-top: 17px;
        margin-bottom: 0;
    }
}

.contact__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        margin-bottom: 11px;
    }
}

.contact__item--textarea {
    align-items: flex-start;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}

.contact__label {
    display: inline-flex;
    width: 140px;
    font-size: 2.0rem;
    font-weight: 600;
    text-align: left;
    align-items: flex-start;
    margin: 8px 0 7px;

    @media screen and (max-width: 767px) {
        font-size: 1.8rem;
        margin-bottom: 5px;
        /* margin-left: calc(-11 / 375 * 100vw); */
        white-space: nowrap;
        margin-top: 0;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 1.8rem;

    }
}

/* コンタクトフォーム個別 */

.contact__input,
.contact__textarea {
    width: 100%;
    max-width: 711px;
    padding: 6px;
    font-size: 1.6rem;
    /* border: 1px solid #ccc; */
    background-color: #fff;
    /* border-radius: 4px; */
    flex: 1;

    @media screen and (max-width: 767px) {
        /* max-width: 335px; */
        margin: 0 auto;
        flex: unset;
        margin-top: 0;

    }
}

.contact__input {
    height: 40px;

    @media screen and (max-width: 767px) {
        height: 50px;
    }

}

.contact__textarea {
    height: 300px;
    resize: vertical;

    @media screen and (max-width: 767px) {}
}

.contact__textarea {
    resize: none;
}


.contact__label--textarea {
    margin-top: 1opx;
}

.contact__submit {
    text-align: center;
    margin-top: 28px;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-inline: auto;
        margin-top: 31px;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        margin-inline: 0;
    }

    @media screen and (max-width: 374px) {
        margin-inline: 0;
        text-align: center;
    }


}

.contact__button {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #0D96A0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #0D96A0;
    transition: background-color 0.3s, color 0.3s;

    width: 200px;
    height: 50px;

    @media screen and (max-width: 767px) {
        width: 335px;
        height: 41px;
        margin-bottom: calc(3 / 375 *100vw);
        font-size: 1.9rem;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 1.9rem;
    }

    @media screen and (max-width: 374px) {
        width: 260px;
        display: block;
        margin: 0 auto;
    }
}

.contact__button:hover {
    background-color: #ffffff;
    color: #0D96A0;
}

/* フッター */
.footer {
    color: #fff;
    background: #505050;
    text-align: center;
    height: 280px;
}


.footer_nav_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    list-style: none;
    margin: 0 0 22px;
    padding-top: 68px;

    @media screen and (max-width: 767px) {
        gap: 20px;
        padding-top: 47px;
        margin: 1px 0 24px;
        row-gap: 7px;
    }

}

.footer_nav_list a {
    color: #fff;
    font-size: 2.0rem;
    font-weight: 700;
    text-decoration: none;

    @media screen and (max-width: 767px) {
        font-size: 1.8rem;
    }

    /* @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: calc(18 / 600 * 100vw);

    } */
}

.footer_line {
    width: 100%;
    max-width: 737px;
    height: 1px;
    background-color: #ffffff;
    margin: 19px auto;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    @media screen and (max-width: 767px) {
        margin-top: calc(-9 / 335 * 100vw);

    }
}

.footer__copyright {
    font-size: 2.0rem;
    margin-top: 10px;
    margin-bottom: 1px;
    font-weight: 700;

    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        padding-bottom: 24px;
    }

    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 1.6rem;
    }
}

.footer_sns {
    font-size: calc(18 / 1080 * 100vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}