@charset "utf-8";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #fff;
    color: #505050;
    font-weight: 500;
    /* line-height:calc(33 / 18); */
  }
  
  a {
    color: #505050;
    /* text-decoration: none; */
    transition: color 0.3 ease;
  }
  
  @media screen and (min-width: 768px) {
    .pc_none {
      display: none !important;
    }
  
    .ib {
      display: inline-block;
    }
  }

.header {
    height: 50px;


    @media screen and (max-width: 767px) {
        height: 30px;
    }




}

.header__inner {

    @media screen and (max-width: 767px) {
        
    }
}

.header__logo {}

.header__nav {}

.header__nav-list {}